*.py text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.jsonl text eol=lf
*.txt text eol=lf
*.ps1 text eol=lf
*.cu text eol=lf
*.h text eol=lf
LICENSE-* text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
