*.sh text eol=lf
* whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
artifacts/** -text
prelaunch/**/*.json -text
prelaunch/remote-control/** -text
bundles/*.json -text
transfer/** -text
